@import "theme" ;
@import "fonts" ;


a {
  display : inline-block ;
  margin-left : 10px ;
  padding : 1em  ;
  color : lighten($color3, 10);
  font-size : $regular-fz;
  background : lighten($color3, 15) ;
  transition : all .5s ;

  &:hover {
    text-decoration: none;
    background: $color3;
  }
}



:host-context(app-template-a) a {
  background : lighten($color2, 15) ;
  transition : all .5s ;

  &:hover {
    background: $color3;
  }
}

:host-context(app-template-b) a {
  background : lighten($color1, 15) ;
  transition : all .5s ;

  &:hover {
    background: $color3;
  }
}
