<app-template-b [title]="title" [subtitle]="subtitle">

    <app-tableau-light [headers]="thElements">

      <tr *ngFor="let item of collection$ | async as collection">
        <td>{{item.typePresta}}</td>
        <td>{{item.client}}</td>
        <td>{{item.nbJours}}</td>
        <td>{{item.tjmHt | currency: 'EUR'}}</td>
        <td>{{item  | total | currency: 'EUR'}}</td>
        <td>{{item | total :'TTC' | currency: 'EUR' }}</td>
        <td [appState]="item.state">
          <select (change)="chnageState(item , $event)">
            <option *ngFor="let state of states" [selected]="state === item.state" [value]="state">{{state}}</option>
          </select>
        </td>

      </tr>

    </app-tableau-light>

    <app-button [label]="label" [route]="route"></app-button>
    <app-button [label]="label" [externalLink]="externalLink"></app-button>
</app-template-b>
